{% extends 'home.html' %}

{% block conteudo %}
<div class="container mt-5">
    <h2 class="mb-4">Cadastrar Paciente</h2>
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Nome:</label>
            <input type="text" name="nome" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">BI:</label>
            <input type="text" name="bi" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Data de Nascimento:</label>
            <input type="date" name="data_nascimento" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Endereço:</label>
            <input type="text" name="endereco" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Telefone:</label>
            <input type="text" name="telefone" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Alergias:</label>
            <input type="text" name="alergias" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Histórico:</label>
            <textarea name="historico" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
{% endblock %}
